/* ------------------------------------------------------------------------- HEAD STYLING  */

#main-header
{
	background-color:rgba(0,0,0,0.5) ;
	position:fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
}

.main-header-btn
{
	background-color:rgba(0,0,0,0.2);
	color:white;
	width:"100%";
	border: 1px solid white;
	border-radius: 50px 50px 50px 50px;
	outline:none;
}

.main-header-btn:hover
{
	background-color:rgba(255,165,0,0.5);
	border: 1px solid white;
}

.main-header-btn:active
{
	background-color:rgba(0,0,0,0.0);
}


#main-head-srctxt
{
	background:rgba(0,0,0,0.3) url("../../resources/img/logo.png") center no-repeat;
	background-size:auto 100%;
	width:"100%";
	border: 1px solid white;
	border-radius: 50px 50px 50px 50px;
	font-size: large;
	color:rgb(255,255,255)
}
#main-head-srctxt:focus
{
	background-image:none;
	background-color:rgba(0,0,0,0.2);
	outline:none;
}
#main-head-srctxt:hover
{
	background-color:rgba(255,165,0,0.5);
}

#main-head-srctxt-sm
{
	background:rgba(0,0,0,0.3) url("../../resources/img/logo-sm.png") center no-repeat;
	background-size:auto 100%;
	width:"100%";
	border: 1px solid white;
	border-radius: 50px 50px 50px 50px;
	font-size: large;
	color:rgb(255,255,255)
}
#main-head-srctxt-sm:focus
{
	background-image:none;
	background-color:rgba(0,0,0,0.2);
	outline:none;
}
#main-head-srctxt-sm:hover
{
	background-color:rgba(255,165,0,0.5);
}
/* ------------------------------------------------------------------------- BODY STYLING */

#margin-divider
{
	margin-top: 50px;
}


body
{
	background-color:rgba(255,255,255,0.3);
	background-image:url("../../resources/img/bodypattern-3.png");
	background-attachment: fixed;
	
}

.body-area
{
	background-color: rgba(255,255,255,0.7);
	background-attachment: fixed;
}

.signup-grid
{
	background-color:rgba(0,0,0,0.1);
	border-radius: 20px 20px 20px 20px;
}

.signup-grid:hover
{
	background-color:rgba(255,165,0,0.8);
}

.carosel-ad
{
	height:200px;
	width:100%;
}

.carosel-ad-image
{
	height:100%;
	width:100%;
}

.sns-heading
{
	color:rgba(255,255,255,0.9);
/* 	background-color: rgba(255,255,255,0.5); */
	background-color:rgba(0,0,0,0.5);
	font-weight: bold;
	font-stretch:extra-expanded;
	background-image: url("../../resources/img/bodypattern-3.png");
}

.sns-content
{
	color:rgba(0,0,0,0.7);
	background-color: rgba(255,255,255,0.5);
	background-image: url("../../resources/img/bodypattern-3.png");
}

.sns-product-grid
{
	background-color: rgba(0,0,0,0.2);
}

.sns-product-title
{
	font-weight:bold;
}

.sns-product-grid-img
{
	height:100%;
	width:100%;
}

.special-icon
{
	height:40px;
	width:40px;
	border-radius: 50px 50px 50px 50px;
	outline:none;
}

.admin-tool-heading
{
	color:rgb(91,192,222);
}

.admin-tool-form
{
/* 	background-color:rgba(255,220,154,0.3); */
	background-image: url("../../resources/img/bodypattern-3.png");
	
}

.admin-tool-error
{
	color:red;
	font-style: italic;
}

/* ------------------------------------------------------------------------- FOOT STYLING */

#base-area
{
	background-color: rgba(0,0,0,0.5);
	color:rgba(163,106,0,1);
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
}

.base-area-btn
{
	background-color:rgba(0,0,0,0);
	color:rgba(255,255,255,0.5);
}

.base-area-btn:visited
{
	background-color:rgba(0,0,0,0);
	color:rgba(255,255,255,0.5);
}

.base-area-btn:hover
{
	background-color:rgba(255,165,0,0.5);
	color:rgba(255,255,255,1);
}

.base-area-btn:active
{
	background-color:rgba(255,165,0,1.0);
	color:rgba(255,255,255,1);
}


/* -------------------------------------------------------------------XCLUSIVE AREA */


/* ------------------------------------------------------------------------------SITE THEME */
